/* puts all the items together*/
.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}
/*manages the image on the left to auto size (parent function)*/
.home-main-section .image-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}
/* more edits to the parent function*/
.home-main-section .left-image {
    background-image: url(53D7CDAD-C42F-4629-938F-CE53D240CFA7.WEBP);
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}
/* Brings everything together on the main page*/
.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}
/* Makes the image dissapear when the webrowser is small enough*/
@media (max-width: 900px){
    .home-main-section .image-wrapper {
        display: none;
    }

    .home-main-section {
        justify-content: center;
    }
}
/* all 3 dots on the main page*/
.home-page-square1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: hsl(0, 1%, 43%, .1);
    border-radius: 50%;
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
}

.home-page-square2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: hsl(0, 1%, 43%, .1);
    border-radius: 50%;
    bottom: 5vw;
    right: 5vw;
    z-index: -1;
}

.home-page-square3 {
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: hsl(0, 1%, 43%, .1);
    border-radius: 50%;
    top: 10vw;
    left : 35vw;
    z-index: -1;
    border-color: aqua;
    border-width: 1rem;
}
